body {
  margin: 0;
}

.main-container {
  position: relative;
  background-image: url("../img/background-pic.jpeg");
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.box1{
    position:relative;

    top: 400px;
    left: 450px;
    width: 150px;
    height: 250px;
}

.box1 img {
    height: 250px;
    width: auto;
}

.box2{
    position:absolute;
    top: 20px;
    left: 70%;
    width: 120px;
    height: 250px;
}

.box2 img {
    height: 250px;
    width: auto;
    -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.box2 img:hover{
     opacity:0;
}